<div class="MenuPage">
  <ul class="nav">
    <li>
      <a href="#">File</a>
      <div>
        <div class="nav-column">
          <ul>
            <li><a href="#">Pampers Diapers</a></li>
            <li><a href="#">Huggies Diapers</a></li>
            <li><a href="#">Seventh Generation</a></li>
            <li><a href="#">Diapers</a></li>
            <li><a href="#">Derbies</a></li>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>
        </div>

       <!-- <div class="nav-column">
          <h3>Home</h3>
          <ul>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>

          <h3>Home</h3>
          <ul>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>
        </div>

        <div class="nav-column">
          <h3>Home</h3>
          <ul>
            <li><a href="#">Pampers Diapers</a></li>
            <li><a href="#">Huggies Diapers</a></li>
            <li><a href="#">Seventh Generation</a></li>
            <li><a href="#">Diapers</a></li>
            <li><a href="#">Derbies</a></li>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>
        </div>

          <div class="nav-column">
          <h3 class="orange">Related Categories</h3>
          <ul>
            <li><a href="#">Pampers Diapers</a></li>
            <li><a href="#">Huggies Diapers</a></li>
            <li><a href="#">Diapers</a></li>
          </ul>

          <h3 class="orange">Brands</h3>
          <ul>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
          </ul>
        </div>-->
      </div>
    </li>
    <li>
      <a href="#">Member</a>
      <div>
        <div class="nav-column">
          <!--<h3 class="orange">Related Categories</h3>-->
          <ul>
            <li><a href="#">Add Member</a></li>
            <li><a href="#">Membership Information</a></li>
            <li><a href="#">Search Data</a></li>
          </ul>

          <!--<h3 class="orange">Brands</h3>
          <ul>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
          </ul>-->
        </div>

        <!--<div class="nav-column">
          <h3>Home</h3>
          <ul>
            <li><a href="#">Pampers Diapers</a></li>
            <li><a href="#">Huggies Diapers</a></li>
            <li><a href="#">Seventh Generation</a></li>
            <li><a href="#">Diapers</a></li>
            <li><a href="#">Derbies</a></li>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>
        </div>

        <div class="nav-column">
          <h3>Home</h3>
          <ul>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>

          <h3>Home</h3>
          <ul>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>
        </div>

        <div class="nav-column">
          <h3>Home</h3>
          <ul>
            <li><a href="#">Pampers Diapers</a></li>
            <li><a href="#">Huggies Diapers</a></li>
            <li><a href="#">Seventh Generation</a></li>
            <li><a href="#">Diapers</a></li>
            <li><a href="#">Derbies</a></li>
            <li><a href="#">Driving shoes</a></li>
            <li><a href="#">Espadrilles</a></li>
            <li><a href="#">Loafers</a></li>
          </ul>
        </div>-->
      </div>
    </li>
    <li><a href="#">Rings</a></li>
    <li><a href="#">Bracelets</a></li>
    <li><a href="#">All Categories</a></li>
    <!--<li class="nav-search">
      <form action="#">
        <input type="text" placeholder="Search...">
        <input type="submit" value="">
      </form>
    </li>-->
  </ul>
</div>
