<div class="header-lower">
  <div class="auto-container">
    <!--Nav Box-->
    <div class="nav-outer clearfix">
      <!--Mobile Navigation Toggler-->
      <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
      <!-- Main Menu -->
      <nav class="main-menu navbar-expand-md navbar-light">
        <div class="navbar-header">
          <!-- Togg le Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon flaticon-menu-button"></span>                            </button>
        </div>

        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
          <ul class="navigation clearfix">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li class="dropdown"><a href="#"> Manufacturing</a>
              <ul>
                <li class="dropdown"><a href="#">Buttweld Fittings</a>
                  <ul>
                    <li><a href="pipe-elbow.html">Pipe Elbow</a></li>
                    <li><a href="pipe-tee.html">Pipe Tee</a></li>
                    <li><a href="pipe-cross.html">Pipe Cross</a></li>
                    <li><a href="pipe-reducer.html">Pipe Reducer</a></li>
                    <li><a href="pipe-end-cap.html">Pipe End Cap</a></li>
                    <li><a href="pipe-bend.html">Pipe Bends</a></li>
                    <li><a href="stub-end-lap-joint.html">Stub End Lap Joint</a></li>
                    <li><a href="split-tee.html">Split Tee</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Forged Fittings</a>
                  <ul>
                    <li><a href="socket-weld-fitting.html">Socket Weld Fittings</a></li>
                    <li><a href="thread-pipe.html">Threaded Pipe Fittings</a></li>
                    <li><a href="pipe-nipple.html">Pipe Nipples</a></li>
                    <li><a href="pipe-outlet.html">Pipe Outlet Fittings</a></li>
                    <li><a href="swag-nipple.html">Swag Nipples/Pipe Swage</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Flanges</a>
                  <ul>
                    <li><a href="threaded-flange.html">Threaded Flanges</a></li>
                    <li><a href="weld-neck-flange.html">Weld Neck Flange</a></li>
                    <li><a href="slip-on-flange.html">Slip On Flang</a></li>
                    <li><a href="socket-flange.html">Socket Weld Flanges</a></li>
                    <li><a href="blind-flange.html">Blind Flanges</a></li>
                    <li><a href="lap-joint-flange.html">Lap Joint Flanges</a></li>
                    <li><a href="plate-flange.html">Plate Flanges</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Fasteners</a>
                  <ul>
                    <li><a href="threaded-bar.html">Threaded Bar</a></li>
                    <li><a href="stud-bolt.html">Stud Bolts</a></li>
                    <li><a href="anchor-bolt.html">Anchor Bolts</a></li>
                    <li><a href="u-bolts.html">U Bolts</a></li>
                    <li><a href="hex-bolt.html">Hex Bolts</a></li>
                    <li><a href="nuts.html">Nuts</a></li>
                    <li><a href="washers.html">Washers</a></li>
                    <li><a href="screw.html"> Screws</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a href="projects.html">Suppliers</a>
              <ul>
                <li><a href="pipes-tube.html">Pipes & Tubes</a></li>
                <li><a href="sheet-plate.html">Sheet & Plates</a></li>
                <li><a href="round-bar.html">Round bars</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="blog-grid.html">Material</a>
              <ul>
                <li><a href="stainless-steel.html">Stainless Steel</a></li>
                <li><a href="carban-steel.html">Carbon Steel</a></li>
                <li><a href="alloy-steel.html">Alloy Steel</a></li>
                <li><a href="duplex-steel.html">Duplex Steel</a></li>
                <li><a href="copper-nickel.html"> Copper Nickel</a></li>
                <li><a href="smo.html">Smo 254</a></li>
                <li><a href="alloy20.html"> Alloy 20</a></li>
                <li><a href="hastelloy.html">Hastelloy</a></li>
                <li><a href="inconel.html">Inconel</a></li>
                <li><a href="monel.html">Monel</a></li>
                <li><a href="nickel.html">Nickel</a></li>
                <li><a href="titanium.html">Titanium</a></li>
                <li><a href="aluminium-pipe.html">Aluminium Pipe Fittings</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="blog-grid.html">Tech Info</a>
              <ul>
                <li><a href="chemical-composition.html">Chemical Composition</a></li>

                <li><a href="mechanical-composition.html">Mechanical Composition</a></li>
              </ul>
            </li>
            <li><a href="quality.html">Quality</a></li>
            <li><a href="enquiry.html">Enquiry</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- Main Menu End-->

      <!-- Main Menu End-->
    </div>
  </div>
</div>
